.title {
    text-align: center;
}


body {

    background-color: rgb(97, 191, 223);
    margin: 30px;
}

.imgformat {

    width: 150px;
    height: 150px;
    
}

.score {

    background-color: rgb(212, 225, 241);
    width: 300px;
    font-weight: bold;
    
}

.randomNumber {

    background-color: rgb(212, 225, 241);
    width: 300px;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    
}

.score {

    background-color: rgb(212, 225, 241);
    width: 300px;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    
}

.my-container {
    
    
}

.my-row {
    
}
.my-col {
    
}