body {

    background-color: rgb(97, 191, 223);
}

.imgformat {

    width: 150px;
    height: 150px;
    
}

.score {

    background-color: rgb(42, 196, 170);
    width: 300px;
    font-weight: bold;
}